// Font
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

// Colors
// // Primary

$strongCyan: hsl(172, 67%, 45%);

// // Neutral

$veryDarkCyan: hsl(183, 100%, 15%);
$darkerGrayishCyan: hsl(186, 14%, 43%);
$darkGrayishCyan: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$lighterGrayishCyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);

// Body Copy

$font-weight: 600;
$fontSize: 1.5rem;
$fontFamliy: "Space Mono";
$font-weights: (
  "regular": 400,
  "bolder": 700,
);
