<main class="container">
  <form class="form" [formGroup]="form" (change)="isReady()">
    <div class="form__div flex flex-dir-c">
      <label class="form__label" for="">Bill</label>
      <img
        class="form__icon"
        src="../../../assets/images/icon-dollar.svg"
        alt=""
        srcset=""
      />
      <input
        type="number"
        placeholder="0"
        appNumberOnly
        [min]="0"
        formControlName="bill"
        [class.is-invalid]="billValid"
      />
      <small *ngIf="billValid" class="invalid">Bill can't be zero</small>
    </div>

    <div class="form__div flex flex-dir-c">
      <label class="form__label" for="">Select Tip %</label>
      <div class="grid">
        <!-- <label *ngFor="let item of radioButtonItems" for="five"
          >{{ item.value }}%
          <input
            #radioInput
            type="radio"
            name="tipPercentage"
            formControlName="tipPercentage"
            [value]="item.value"
            [id]="item.id"
            (input)="onChange(item, radioInput)"
          />
        </label> -->

        <input
          type="radio"
          name="tipPercentage"
          formControlName="tipPercentage"
          [value]="5"
          id="five"
        />
        <label for="five">5%</label>
        <input
          type="radio"
          name="tipPercentage"
          formControlName="tipPercentage"
          [value]="10"
          id="ten"
        />
        <label for="ten">10%</label>
        <input
          type="radio"
          name="tipPercentage"
          formControlName="tipPercentage"
          [value]="15"
          id="fifteen"
        />
        <label for="fifteen">15%</label>
        <input
          type="radio"
          name="tipPercentage"
          formControlName="tipPercentage"
          [value]="25"
          id="twentyfive"
        />
        <label for="twentyfive">25%</label>
        <input
          type="radio"
          name="tipPercentage"
          formControlName="tipPercentage"
          [value]="50"
          id="fifty"
        />
        <label for="fifty">50%</label>

        <label for="custom" class="is-visually-hidden">Custom percent</label>
        <input
          type="number"
          name="tipPercentage"
          formControlName="tipPercentage"
          id="custom"
          placeholder="Custom"
          appNumberOnly
          [min]="0"
          (focus)="selectedCustom()"
          [value]="custom"
        />
      </div>
    </div>

    <div class="form__div flex flex-dir-c">
      <label class="form__label" for="">Number of People</label>
      <img
        class="form__icon"
        src="../../../assets/images/icon-person.svg"
        alt=""
        srcset=""
      />
      <input
        type="number"
        inputmode="numeric"
        placeholder="1"
        appNumberOnly
        [min]="0"
        formControlName="numberPeople"
        [class.is-invalid]="numberPeopleValid"
      />
      <small *ngIf="numberPeopleValid" class="invalid">Can't be zero</small>
    </div>
  </form>
  <app-display-results
    [tipAmount]="tipAmount"
    [totalPeople]="totalPeople"
    (onReset)="reset($event)"
  ></app-display-results>
</main>
